In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
#Ans:
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [2]:
#ANS:
x = 10

def my_function():
    global x
    x += 5
    print(x)

my_function()

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [6]:
x=5
if x==10:
    print("x is 10")
else:
    print("x ix 5")

x ix 5

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [7]:
#ANS:
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [8]:
#ANS:
def square(n):
    print(n*n)

square(4)

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [9]:
#ANS:
my_tuple = (1, 2, 3)
element=list(my_tuple)
element[1]=5
print(element)

[1, 5, 3]

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [11]:
#Ans:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [12]:
#ans:
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [14]:
#Ans:range should be upward only like 1 to 5, 2 to 6, 5 to 10 etc
for i in range(1,5):
    print(i)

1
2
3
4

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [16]:
#ANS:
student = {"name": "John", "age": 20}
print(student["name"])

John